NEXTAUTH_SECRET=npszfkdJcKnAYrnb5iPblCta1jVAncWNOEzaN6Fzg0o=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
MONGODB_URI='mongodb://localhost:27017/file-storage'
# ## SSLCommerzPayment
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_LIVE=false  # Set to true for production